.footer-parent {
  margin: 50px 0px;
  background: grey;
  .footer-cont {
    display: flex;
    gap: 10px;
    padding: 30px 0px;
    .logo {
      width: 30%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .link-wrap {
      display: flex;
      align-items: center;
      gap: 120px;
      width: 40%;
      justify-content: center;

      .imp-links {  
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      .other-links {
        display: flex;
        flex-direction: column;
        gap: 20px; 
      }
    }
    .contact {
      width: 30%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .nav-menu {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 10px;

      a {
        text-decoration: none;
      }

      .about {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            color: green;
            font-size: 20px;
          }
        }
      }
    }
  }
}
